 .u-section-1 {
  border-style: solid;
}

.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-image-1 {
  width: 102px;
  height: 102px;
  background-image: url("images/a_9e27b85ad5c44a6b9e52228f846fd751.png");
  background-position: 50% 50%;
  margin: 35px auto 0 -20px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: -99px 0 0 109px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  transition-duration: 1.5s;
  width: 356px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 500;
  margin: 55px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 24px;
  margin-bottom: 53px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 452px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 27px;
}

.u-section-1 .u-image-2 {
  height: 182px;
  width: 306px;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 23px auto 0 6px;
}

.u-section-1 .u-text-4 {
  margin: 8px 1px 0 5px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 17px auto 0 5px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 27px;
}

.u-section-1 .u-image-3 {
  height: 182px;
  width: 306px;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 23px auto 0 6px;
}

.u-section-1 .u-text-6 {
  margin: 8px 1px 0 5px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 17px auto 0 5px;
  padding: 2px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 27px;
}

.u-section-1 .u-image-4 {
  height: 182px;
  width: 306px;
  margin: 0 auto 0 3px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 23px auto 0 6px;
}

.u-section-1 .u-text-8 {
  margin: 8px 1px 0 5px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none none solid;
  text-transform: uppercase;
  margin: 17px auto 0 5px;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -90px;
    margin-right: -96px;
    margin-left: 96px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 38px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin: 35px auto 60px -14px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 421px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-image-2 {
    height: 155px;
    width: 285px;
    margin-top: -16px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
    margin-bottom: -15px;
    margin-left: 27px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-image-3 {
    height: 155px;
    width: 285px;
    margin-top: -16px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 22px;
    margin-bottom: -15px;
    margin-left: 27px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-1 .u-image-4 {
    height: 155px;
    width: 285px;
    margin-top: -16px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 14px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 22px;
    margin-bottom: -15px;
    margin-left: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 37px;
    margin-left: -36px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -102px;
    margin-right: -50px;
    margin-left: 83px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: 27px;
    margin-bottom: 42px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 472px;
    grid-auto-columns: 33.3333%;
  }

  .u-section-1 .u-image-2 {
    height: 133px;
    width: 225px;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    height: 133px;
    width: 225px;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 27px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    height: 133px;
    width: 225px;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 6px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 27px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 33px;
    margin-left: -32px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-list-1 {
    width: 582px;
    margin: 8px -21px 33px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-2 {
    height: 96px;
    width: 170px;
    margin-top: 52px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 5px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 10px;
    margin-left: 4px;
  }

  .u-section-1 .u-image-3 {
    height: 96px;
    width: 170px;
    margin-top: 52px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 10px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 5px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-left: 4px;
  }

  .u-section-1 .u-image-4 {
    height: 96px;
    width: 170px;
    margin-top: 52px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 10px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 5px;
    margin-right: -4px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    margin-left: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1675px;
  }

  .u-section-1 .u-image-1 {
    width: 73px;
    height: 73px;
    margin-top: 90px;
    margin-left: -22px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-right: -23px;
    margin-left: 71px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -50px;
    margin-left: -6px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 13px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1421px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 128px;
    width: 226px;
    margin-top: 5px;
    margin-right: 110px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 4px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 128px;
    width: 226px;
    margin-top: 5px;
    margin-right: 110px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 4px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 128px;
    width: 226px;
    margin-top: 5px;
    margin-right: 110px;
    margin-left: 4px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 4px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 393px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  transition-duration: 1.5s;
  width: 343px;
  font-weight: 500;
  margin: 33px auto 0;
}

.u-section-2 .u-text-2 {
  width: 320px;
  font-weight: normal;
  margin: 0 auto;
}

.u-section-2 .u-social-icons-1 {
  height: 97px;
  min-height: 16px;
  width: 432px;
  min-width: 109px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 18px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(77, 118, 161) !important;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 68px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  animation-timing-function: linear;
  margin: 14px auto 55px;
  padding: 12px 34px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-2 .u-social-icons-1 {
    transition-duration: 0.5s;
    --animation-custom_in-scale: 1;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-text-3 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-social-icons-1 {
    width: 341px;
    height: 74px;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 60px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}