.u-section-1 .u-sheet-1 {
  min-height: 717px;
}

.u-section-1 .u-group-1 {
  min-height: 197px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 8px 147px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: 12px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-1 {
  margin-left: 2px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: -42px auto 0 335px;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: -42px 409px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-group-2 {
  min-height: 197px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 22px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  margin: 8px 151px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  margin: 12px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-4 {
  margin-left: 2px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  margin: -42px auto 0 248px;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  margin: -42px auto 0 466px;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-group-3 {
  min-height: 197px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-6 {
  background-image: none;
  margin: 8px 188px 0 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  margin: 12px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-icon-7 {
  margin-left: 2px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 135px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 209px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 48px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 266px;
  }

  .u-section-1 .u-text-6 {
    font-weight: normal;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }
}