 .u-section-1 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 769px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 252px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 17px 104px 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #f1b5b8, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin: 25px auto 0 137px;
  padding: 16px 34px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  font-weight: 600;
  margin: -57px 137px 60px auto;
  padding: 17px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}