.u-section-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 65px;
  margin: 22px 163px 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 22px 238px 0 324px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -92px auto 0 228px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 48px 232px 0 324px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -92px auto 0 228px;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 60px 213px 0 324px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -80px auto 60px 228px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 45px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 138px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 132px;
    margin-left: 224px;
  }

  .u-section-1 .u-text-4 {
    width: 603px;
    margin-left: 224px;
    margin-right: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 28px;
    margin-left: 114px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 22px;
    margin-left: 114px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 114px;
    margin-right: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 171px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 171px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 171px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: 108px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 108px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 108px;
  }
}